body {
    font-size: 18px;
    padding: 0;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #f3ede5;

}

main {
    padding: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4rem;
}

.navbar a {
    text-decoration: none;
}


.links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    
}

.links a {
    text-decoration: none;
    color: #747474;
    font-family: 'Inter';
    margin: auto;
}

.mission {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.missionblack {
    font-family: 'Inter';
    font-size: 3.5rem;
    padding: 0;
    margin-bottom: 0;
    font-weight: bolder;

}

.missionorange {
    font-family: 'Inter';
    font-size: 3.5rem;
    color: #f7b300;
    padding: 0;
    margin-top: 0;
    font-weight: bolder;
}

.subtext {
    font-size: 1rem;
    font-family: "Inter";
    color: #747474;
    padding: 0;
    margin: 0;
}


.signin-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 21%;
}

.try-btn {
    font-family: 'Inter';
    color: white;
    background-color: #133416;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 9rem;
}

.signin {
    font-family: 'Inter';
    color: #747474;
}

.dropdown {
    display:none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 6rem;
    background-color: white;
    z-index: 1;
    max-width: 25rem;
    padding: 2rem;
    border-radius: 12px;
}

.links :first-child:hover .dropdown {
    display: flex;
}

.dropdown-content {
    display: flex;
    justify-content: space-between;
}

.dropdown-svg {
    margin-top: 0.4rem;
    margin-right: 0.5rem;
}

.link-title {
    color: #0a263f;
    font-size: 1rem;
    padding-top: 0;
    margin: 0;
    margin-top: 0.5rem;
}

.link-subtext {
    font-family: 'Inter';
    color: #909ba3;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.top-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 57%;

}

.hero {
    width: 30%;
}

.hero > img {
    max-width: 100%;
}

.lower-top-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-main {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.shop-logos {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lower-subtext {
    padding-bottom: 2rem;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}